*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    height: 100vh;
    background-color: lightblue;
    font-family: sans-serif;
  }
  
  .heading {
    font-size: 50px;
  }
  
  .score {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
  }

  .h1-score1 {
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px; 
  
  background-color: white;
  }

  .h1-score2{
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px; 
   
    background-color: white;
  }

  .choice {
    height: 25vh;
    display: flex;
    justify-content: center;
  }
  
  .computer-hand {
    max-width: 200px;
  }
  
  .user-hand {
    max-width: 200px;
  }
  

  .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }
 

