*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    height: 100vh;
    background-color: lightblue;
    font-family: sans-serif;
  }
  
  .heading {
    font-size: 50px;
  }
  
  .score {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15rem; */ /* Ta bort denna rad för att ta bort den stora paddingen */
    margin: 20px; /* Lägg till marginal runt poängavsnittet */
  }

  /* Stilar för poängtexterna */
  .h1-score1 {
  font-size: 24px;
  margin: 10px; /* Lägg till marginal mellan poängtexterna */
  border: 1px solid;
  }

  .h1-score2{
    font-size: 24px;
    margin: 10px; /* Lägg till marginal mellan poängtexterna */
    border: 1px solid;  
  }

  .choice {
    height: 25vh;
    display: flex;
    justify-content: center;
  }
  
  .computer-hand {
    max-width: 250px;
  }
  
  .user-hand {
    max-width: 250px;
  }
  
