/* Stilar för .App-behållaren */
.App {
  height: 100vh;
}

.rock-paper-heading {
  padding: 5rem;
}

/* Stilar för knappen "Spela online" */
.play-online-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Säkerställ att knappen tar hela bredden av behållaren */
}

/* Ytterligare stilar för knappen "Spela online" */
.play-online-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px; 
  margin: 10px 0; /* Lägger till mellanrum mellan "Spela online"-knappen och de andra knapparna */
}

/* Grundläggande stilar för knapparna */
.button {
  
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px; 
  margin: 1rem;
  background-color: inherit;


}

/* .button-div {
  background-color: yellow;
} */



.play-online-button:hover {
  background-color: #007bff; /* Mörkare nyans av blått vid hovring */
}

.score {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15rem; */ /* Ta bort denna rad för att ta bort den stora paddingen */
  margin: 20px; /* Lägg till marginal runt poängavsnittet */

}

/* Stilar för poängtexterna */
.score-user2
.score-user1 {
font-size: 24px;
font-weight: bold;
margin: 10px;
border: 1px solid;
padding: 1rem;
}



/* Stilar för ikonerna */
/* .choice {
  height: 25vh;
    display: flex;
    justify-content: center;
} */

.user1-hand,
.user2-hand {
  max-width: 200px; /* Justera maximal bredd för ikonerna */
  height: auto;
  margin: 10px; /* Lägg till mellanrum mellan ikonerna */
}

/* Ytterligare stilar för "Turn Result" och "Final Result" */
.result {
  text-align: center;
  margin-top: 20px; /* Lägg till marginal ovanför texten */
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.finalResult{
  display: flex;
  justify-content: center;
  align-items: center;
margin-bottom: 50px;

}

.button{
  margin-bottom: 50px;
}
img{
  max-width: 100px;
}