.container {
 margin: 0;
  
}

.open-games{
  height: auto;
  background-color: lightblue;

}

.generate-token {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-token:hover {
  background-color: #007bff; 
}


.write-name input[type="text"] {
  background-color: #f1f1f1; 
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px; 
  margin-top: 5rem;
}


.write-name input[type="text"]::placeholder {
  color: #666; 
}

.create-game {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.create-game:hover {
  background-color: #28a745; 
}


.join-game-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.join-game-btn:hover {
  background-color: #111111; 
}
