.App {
  height: 100vh;
}

.rock-paper-heading {
  padding: 5rem;
}

.play-online-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.play-online-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px; 
  margin: 10px 0; 
}


.button {
  
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 200px; 
  margin: 1rem;
  background-color: inherit;


}





.play-online-button:hover {
  background-color: #007bff; 
}

.score {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; 

}

.score-user2
.score-user1 {
font-size: 24px;
font-weight: bold;
margin: 10px;
border: 1px solid;
padding: 1rem;
}





.user1-hand,
.user2-hand {
  max-width: 200px; 
  height: auto;
  margin: 10px; 
}


.result {
  text-align: center;
  margin-top: 20px; 
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.finalResult{
  display: flex;
  justify-content: center;
  align-items: center;
margin-bottom: 50px;

}

.button{
  margin-bottom: 50px;
}
img{
  max-width: 100px;
}